<form [formGroup] = "personForm" (submit) = "submitForm()">
    <div style = "margin-left: 20px">
        <div class="form-group" style="max-width: 300px;">
            <input type="text" class="form-control" formControlName = "nome" placeholder="Nome" (ngModelChange) = "inputChange()">
        </div>

        <div class="form-group" style="max-width: 300px;">
            <input type="text" class="form-control" formControlName = "idade" placeholder="Idade" (ngModelChange) = "inputChange()">
        </div>
        
        <div class="form-group" style="max-width: 300px;">
            <input type="text" class="form-control" formControlName = "nacionalidade" placeholder="Nacionalidade" (ngModelChange) = "inputChange()">
        </div>

        <div style="display: flex;">
            <div style = "margin-right: 10px;">
                <button class="btn btn-success" [disabled] = "personForm.status === 'INVALID'">Enviar</button>
            </div>
            <div>
                <button type="button" class="btn btn-danger" (click) = "clearForm()">Limpar</button>
            </div>
        </div>
    </div>
</form>
<ngb-alert [type]="alert.type" *ngIf = "alert.visible" style="width: 500px; margin: 20px 0 0 20px;">{{ alert.message }}</ngb-alert>