<div class="container-fluid">
    <div class="text-right" style="padding: 0 0 20px 0;">
        <button class="btn btn-dark" (click) = "getPessoas()">Recarregar</button>
    </div>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Nacionalidade</th>
                <th>Data de Criação</th>
                <th>Data de Atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let pessoa of pessoas$ | async">
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.idade }}</td>
                <td>{{ pessoa.nacionalidade }}</td>
                <td>{{ pessoa.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ pessoa.updatedAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <div style="display: flex; justify-content: space-evenly;">
                        <div><button class = "btn btn-warning" (click) = "editarPessoa(pessoa)">Editar</button></div>
                        <div><button class = "btn btn-danger" (click) = "deletePessoas(pessoa)">Excluir</button></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>